# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# TEMP ignore
 main.jsx
 welcome
 channelpage
 Homepage
 myfunctions
 searchbar
 header
 channelbanner
 settings
 public
 assets
 channel
 channelspace
 status
.vscode
 themes
 index.css
 foot
 index.html
 package.json
vite.config.js
WelcomeSlide.jsx
Homepage copy
# WhatsApp-Group-Call-New-Features.webp
# coolicons.v2.5

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
