#channel-page {
 height: 100vh;
 overflow: scroll;
}

#channel-page #top #back-icon {
 width: 100%;
 height: 40px;
 animation: toandfro 1s alternate-reverse 10ms infinite;
}

#channel-page #top {
 width: 100%;
 display: flex;
 flex-direction: column;
 position: fixed;
 gap: 0px;
 top: 0;
 left: 0;
 z-index: 99;
 background-color: var(--mosque-darker);
}

#channel-page #my-channel #top #header-nav {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

#channel-page #channels-list {
 display: flex;
 flex-direction: column;
 padding: 140px 15px 80px;
 gap: 10px;
 align-items: center;
 scroll-behavior: smooth;
}

.channels-banner {
 box-shadow: 0px 0px 4px #151515d8;
 min-height: 150px;
 width: 100%;
 background-color: hsla(349, 100%, 64%, 0.365);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.channels-banner:nth-child(odd) {
 height: 150px;
 width: 100%;
 background-color: #a953ff5d;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.channels-banner:nth-child(2) {
 height: 150px;
 width: 100%;
 background-color: #b0b0b05d;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.channels-banner:nth-last-child(1) {
 height: 150px;
 width: 100%;
 background-color: #b0b0b05d;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.channels-banner:nth-last-child(4) {
 height: 150px;
 width: 100%;
 background-color: #b0b0b05d;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.channels-banner-title {
 display: flex;
 width: 88%;
 /* flex-direction: column; */
 justify-content: space-evenly;
 align-items: center;
 font-size: 12px;
 gap: 10px;
 height: 50%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 align-items: center;
}

.channels-banner-title .channel-details {
 display: flex;
 width: 88%;
 padding: 4px;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: left;
 font-size: 12px;
 gap: 10px;
 /* border: red 1px solid; */
}

.channels-banner-title .channel-details .channel-name {
 width: 100%;
 align-items: left;
 font-size: 13px;
 font-weight: 700;
 color: white;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.channels-banner-title .channel-details .channel-data {
 width: 100%;
 align-items: left;
 font-size: 10px;
 /* font-weight: 700; */
 opacity: 0.7;
}

.channel-catergory-image {
 width: 50px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.channel-catergory-image input {
 width: 45px;
 height: 45px;
 ;
 border-radius: 10px;
}

.channels-banner-info {
 height: 50%;
 width: 88%;
 border-top: rgba(145, 142, 142, 0.252) 2px solid;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-size: 10px;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

.channel-user-image {
 width: 80px;
 height: 30px;
 padding: 0 5px 0 0;
 display: flex;
}

.channel-user-image input {
 height: 100%;
 margin-right: -10px;
 border-radius: 50%;
}

.channels-banner-info .join-channel {
 width: 70px;
 height: 30px;
 border: 0;
 border-radius: 105px;
 background-color: var(--mosque-darker);
 /* color: var(--blue); */
 color: rgb(16, 223, 220);
}