* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#room-space-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#ppl-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    grid-template-rows: repeat(3, calc(calc(100% / 3) - 10px));
    padding: 10px;
    height: 55%;
    overflow: scroll;
    width: 100%;
    /*border: gold solid 2px;*/
}

.user-box {
    min-width: 150px;
    max-width: 550px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    position: relative;
}


.user-box > .show-pop {
    min-width: max-content;
    width: 90px;
    height: 40px;
    background-color: rgb(16, 223, 220);
    position: absolute;
    top: 15%;
    left: 90%;
    z-index: 1;
    padding: 5px 0;
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    align-items: center;

}


.user-box > .show-pop ul {
    width: 100%;
    /*font-family: "Bell MT";*/
}

.user-box > .show-pop ul li {
    width: 100%;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "HP Simplified", cursive;
    padding: 3px;
    font-weight: 500;
    text-align: left;
}

.hide-pop {
    display: none !important;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--blue);
    border: none;
}

.user-box.active {
    border: var(--teal-green) 3px solid;
    border-radius: 10px;
}

.user-name {
    width: 100%;
    display: flex;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}

.user-box span {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: var(--lighter-green);
    padding-right: 5px;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-box .more-menu {
    display: flex;
    height: 30px;
    width: 20px;
    flex-direction: column;
}

#user-img {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;

}

#user-img .profile-img {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100%;
    justify-content: space-between;
}

#user-img .mic-icon {
    width: 25px;
    display: flex;
    height: 25px;
    justify-content: space-between;
}

#note-container {
    height: 40%;
    width: 100%;
    color: #34B7Ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    padding: 10px 0;
    /*border: 1px solid #011e1b;*/
    overflow: scroll;
}

#note-container #note {
    width: 90%;
    color: #34B7Ff;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    font-family: "HP Simplified", cursive;
}

#action-btn-container {
    height: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
}

#action-btn-container input {
    width: 25px;
    height: 25px;
}


#action-btn-container > .show-pop {
    /*min-width: max-content;*/
    width: 90px;
    height: 100px;
    background-color: rgb(16, 223, 220);
    position: absolute;
    top: -205%;
    left: 5%;
    z-index: 1;
    padding: 5px 0;
    border-radius: 2px;
    display: flex;
    cursor: pointer;
    align-items: center;
    animation: .5s slideUp both ease-in-out alternate;

}

#action-btn-container > .show-pop ul {
    width: 100%;
    /*font-family: "Bell MT";*/
}

#action-btn-container > .show-pop ul li {
    width: 100%;
    list-style: none;
    font-size: 12px;
    cursor: pointer;
    font-family: "HP Simplified", cursive;
    padding: 3px;
    font-weight: 500;
    text-align: center;
}

@keyframes slideUp {
    from {
        top: 205%;
        left: 5%;
        opacity: 0;
    }
    to {
        top: -205%;
        left: 5%;
        opacity: 1;
    }

}