.welcome-page-container {
 display: flex;
 /* flex-direction: column; */
 background-color: #F5F5F5;
 overflow: hidden;
}

/* SLIDE PAGE 1 */
.slide1 {
 display: flex;
 flex-direction: column;
 justify-content: center;
 background-color: hwb(0 96% 4%);
 height: 100vh;
 width: 100%;
 background: linear-gradient(180deg, #ffffff 100%, rgba(248, 248, 248, 0.81) 100%);
 float: left;
}

.slide1 .slide-img {
 display: flex;
 justify-content: center;
 align-content: center;
 height: 30%;
 width: 100%;
 color: #F5F5F5;
}

.slide1 .foot-container {
 height: 7%;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.slide1 .slide-img img {
 height: 90%;
 width: 60%;
 color: #F5F5F5;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -ms-user-select: none;
 user-select: none;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 pointer-events: stroke;
 user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
}

.slide1 .logo {
 height: calc(93%);
 width: 100vw;
 max-width: fit-content;
 color: #F5F5F5;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -ms-user-select: none;
 user-select: none;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 pointer-events: stroke;
 user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
}

/* SLIDE PAGE 2*/
.slide2 {
 display: flex;
 flex-direction: column;
 /* gap: 0px; */
 background-color: hwb(0 96% 4%);
 height: 100vh;
 width: 100vw;
 background: linear-gradient(180deg, #0E4E8A 0%, rgba(18, 120, 240, 0.81) 100%);
 background: linear-gradient(180deg, #0E4E8A 0%, rgba(18, 120, 240, 0.81) 100%);
 float: left;
}

.slide2 .logo {
 height: calc(35%);
 width: 100vw;
 color: #F5F5F5;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -ms-user-select: none;
 user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 pointer-events: stroke;
 user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -khtml-user-select: none;
}

.slide2 .slide-img {
 display: flex;
 justify-content: center;
 align-content: center;
 height: 50%;
 width: 100%;
 color: #F5F5F5;
}

.slide2 .slide-img img {
 height: 90%;
 width: 60%;
 color: #F5F5F5;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -ms-user-select: none;
 user-select: none;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 pointer-events: stroke;
 user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
}

/* SLIDE PAGE 3 */
.slide3 {
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 background-color: hwb(0 96% 4%);
 height: 100vh;
 width: 100%;
 background: linear-gradient(180deg, #ffffff 100%, rgba(248, 248, 248, 0.81) 100%);
 float: left;
}

.slide3 .foot-container {
 height: 7%;
 display: flex;
 flex-direction: column;
 gap: 20px;
 border: 1px red solid;
}

.slide3 .slide-img img {
 height: 90%;
 width: 60%;
 color: #F5F5F5;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -ms-user-select: none;
 user-select: none;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 pointer-events: stroke;
 user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
}

.slide3 .logo {
 height: calc(93%);
 width: 100vw;
 max-width: fit-content;
 color: #F5F5F5;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
 -ms-user-select: none;
 user-select: none;
 -khtml-user-select: none;
 -o-user-select: none;
 -moz-user-select: none;
 -webkit-user-select: none;
 pointer-events: stroke;
 user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-user-drag: none;
 -webkit-touch-callout: none;
}

.slide3 #info-text {
 width: 90%;
 height: 25%;
 border-radius: 50%;
 /* border: 1px red solid; */
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 40px;
 color: #0D6FCADE;
 background: rgba(233, 230, 230, 0.37);
 font-weight: 400;
}

.slide3 form {
 width: 90%;
 height: 30%;
 /* border-radius: 50%; */
 /* border: 1px red solid; */
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 font-size: 40px;
 color: #0D6FCADE;
 /* background: rgba(233, 230, 230, 0.37); */
 font-weight: 400;
}

form .find-fight-form-btn,
form .signin-form-btn {
 border: 0;
 width: 180px;
 display: flex;
 cursor: pointer;
 font-size: 20px;
 font-weight: 800;
 color: #ffffff;
 line-height: 44px;
 align-items: center;
 border-radius: 25px;
 letter-spacing: 0em;
 background: #0D6FCA;
 justify-content: center;
 font-family: Open Sans Hebrew;
}
hr{
 color: red;
 /* height: 400px; */
 /* width: 50px; */
 transform: rotateZ(180deg);
 transform: rotate(90deg);
 /* border-width: 35px; */
 
}
#social-login-option {
 width: 90%;
 height: 30%;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 font-size: 40px;
 color: #0D6FCADE;
 /* background: rgba(233, 230, 230, 0.37); */
 font-weight: 400;
}

#social-login-icon {
 width: 90%;
 height: 30%;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 font-size: 40px;
 color: #0D6FCADE;
 /* background: rgba(233, 230, 230, 0.37); */
 font-weight: 400;
}

/* FOOOT AND PAGINATION */
.foot-container {
 height: 15%;
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.slide-action-bnt {
 width: 180px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: #ffffff;
 border-radius: 25px;
 font-family: Open Sans Hebrew;
 font-size: 20px;
 font-weight: 800;
 line-height: 44px;
 letter-spacing: 0em;
 background-color: #0a5193;
 cursor: pointer;
}

.pignation {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 20px;
 /* border: 1px white solid; */
 color: #F5F5F5;
}

.pignation .inactive {
 width: 10px;
 height: 10px;
 border-radius: 50px;
 background-color: #D9D9D9;
}

/* 
.slide1 .pignation span:nth-child(1) {
 width: 13px;
 height: 13px;
 background: #182F68;
 
} */
.pignation .active {
 width: 13px;
 height: 13px;
 border-radius: 50px;
 background-color: #182F68;
}

/* .slide2 .pignation span:nth-child(even) {
 width: 13px;
 height: 13px;
 background: #182F68;
} */