@import url("colors.css");

:root {
 --appbg: var(--mosque-darker);
 --navtabtextcolor: rgb(16, 223, 220);
 --navtabtextcolor: rgb(16, 223, 220);
 --border: var(--mosque);
}

/* --Mosque :#075e54;
 --teal-dreen-dark :#075E54;
 --teal-green : #128C7E;
 --blue : #34B7F1;
 --light-green : #25D366; */